In [111]:
import pandas as pd
import numpy as np

genotype_data = [
                    ['0/1', '120,60', 180, 5, '0/1', '200,2', 202, 99],
                    ['0/1', '200,20', 60, 99, '0/1', '200,50', 250, 99],
                    ['0/1', '200,2', 202, 99, '0/1', '200,2', 202, 99] 
]


genotype_columns = [['Sample1', 'Sample2'], ['GT', 'AD', 'DP', 'GQ']]
cols = pd.MultiIndex.from_product(genotype_columns)
df = pd.DataFrame(data=genotype_data, columns=cols)


df

  Sample1                  Sample2
       GT      AD   DP  GQ      GT      AD   DP  GQ
0  0/1     120,60  180  5   0/1     200,2   202  99
1  0/1     200,20  60   99  0/1     200,50  250  99
2  0/1     200,2   202  99  0/1     200,2   202  99

In [113]:
# MUCH SLOWER THAN ORIGINAL SOLUTION
df = pd.DataFrame(data=genotype_data, columns=cols)

df.columns = df.columns.swaplevel(0,1)
stacked = df.stack()
stacked['AB'] = pd.to_numeric(stacked['AD'].str.split(',').str[1])/\
                pd.to_numeric(stacked['DP'])
unstacked = stacked.unstack()
unstacked.columns = unstacked.columns.swaplevel(1,0)
unstacked = unstacked.sortlevel(0, axis=1)
unstacked.columns.levels
unstacked

  Sample1                         Sample2
       AD   DP  GQ   GT        AB      AD   DP  GQ   GT        AB
0  120,60  180  5   0/1  0.333333  200,2   202  99  0/1  0.009901
1  200,20  60   99  0/1  0.333333  200,50  250  99  0/1  0.200000
2  200,2   202  99  0/1  0.009901  200,2   202  99  0/1  0.009901